@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background-color: #111;
}

#app {
  overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}